*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    background-color: #5498ba;
    padding: 17px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo{
    font-size: 30px;
    color: #fff;
}
.navbar u1{
    list-style: none;
    display: flex;
    gap: 30px;
}
.navbar u1 li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s ease;
}
.navbar u1 li a:hover{
    color: #1f4386;
}
.spaced{
    margin-bottom: 50px;
}
.hero {
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../Images/Welcome Page.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
}
.hero h1{
    font-size: 53px ;
}
.hero p{
    font-size: 18px;
    margin: 20px 0px;
}

.hero .btn{
    display: flex;
    padding: 12px 20px;
    background-color: #5498ba;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s ease;
}
.hero .btn:hover{
    font-weight: bold;
    color: #1f4386;
}

.bloglinks{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    padding-bottom: 850px;
    padding-left: 1650px;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:top;
    color: #fff;
}

.bloglinks .btn1{
    display: flex;
    padding: 12px 20px;
    background-color: #5498ba;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s ease; 
    cursor: pointer;
}
.bloglinks .btn1:hover{
    font-weight: bold;
    color: #1f4386; 
}