*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    background-color: #5498ba;
    padding: 17px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo{
    font-size: 30px;
    color: #fff;
}
.navbar u1{
    list-style: none;
    display: flex;
    gap: 30px;
}
.navbar u1 li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s ease;
}
.navbar u1 li a:hover{
    color: #1f4386;
}
.spaced{
    margin-bottom: 50px;
}
.hero {
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../Images/Welcome Page.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
}
.hero h1{
    font-size: 53px ;
}
.hero p{
    font-size: 18px;
    margin: 20px 0px;
}

.hero .btn{
    display: flex;
    padding: 12px 20px;
    background-color: #5498ba;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s ease;
}
.hero .btn:hover{
    font-weight: bold;
    color: #1f4386;
}

.bloglinks{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    padding-bottom: 850px;
    padding-left: 1650px;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:top;
    color: #fff;
}

.bloglinks .btn1{
    display: flex;
    padding: 12px 20px;
    background-color: #5498ba;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s ease; 
    cursor: pointer;
}
.bloglinks .btn1:hover{
    font-weight: bold;
    color: #1f4386; 
}

.tile-container{
    display:grid ;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
}
.tile{
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}
.tile:hover{
    transform: scale(1.05);
}
.tile-image{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.tile-info{
    padding: 20px;
}
h2{
    font-size: 1rem;
    margin-bottom: 10px;
}
p{
    font-size: 1rem;
    color: #fff;
}
footer{
    background-color: #5498ba;
    color: #fff;
    padding: 4px 0;
    text-align: center;
    margin-top: 390px;
}
.footer-content{
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
}
.footer-content p{
    margin-bottom: 10px;
    font-size: 1rem;
}